<a href="https://colab.research.google.com/github/Alishba-29/Python-Operators/blob/main/Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators:

Operators in Python are special symbols or keywords used to perform operations on variables and values. They are essential components that allow you to manipulate data in your program, such as performing arithmetic, comparisons, and logical operations.

# Types of Operators in Python:
##1.  Arithmetic Operator:
 These are used to perform basic mathematical operations like addition, subtraction, multiplication, etc.

In [ ]:
# prompt: give m a table with border line which has  3 columns and has 7 rows first columns name is Operators  and second is Description and third is  Example.

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>+</td>
      <td>Addition</td>
      <td>x + y</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Subtraction</td>
      <td>x - y</td>
    </tr>
    <tr>
      <td>*</td>
      <td>Multiplication</td>
      <td>x * y</td>
    </tr>
    <tr>
      <td>/</td>
      <td>Division</td>
      <td>x / y</td>
    </tr>
    <tr>
      <td>%</td>
      <td>Modulus</td>
      <td>x % y</td>
    </tr>
    <tr>
      <td>**</td>
      <td>Exponentiation</td>
      <td>x ** y</td>
    </tr>
    <tr>
      <td>//</td>
      <td>Floor division</td>
      <td>x // y</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. Addition (+)

In [ ]:
x = 10
y = 15
total = x + y
print(total)

25

### 2. Subtraction (-)

In [ ]:
x = 10
y = 15
total = x - y
print(total)

-5

### 3. Multiplication (*)

In [ ]:
x = 10
y = 15
total = x * y
print(total)

150

### 4. Division (/)

In [ ]:
x = 10
y = 15
total = x / y
print(total)

0.6666666666666666

### 5. Modulus (%)

In [ ]:
x = 10
y = 15
total = x % y
print(total)

10

### 6. Exponentiation (**)

In [ ]:
x = 10
y = 15
total = x ** y
print(total)

1000000000000000

### 7. Floor division (//)

In [ ]:
x = 10
y = 15
total = x // y
print(total)

0

## 2. Comparison Operators:
These are used to compare two values. The result of a comparison is either True or False.

In [ ]:
# prompt: give m a table with border line which has  3 columns and has 7 rows first columns name is Operators  and second is Description and third is  Example.

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>==</td>
      <td>Equal to</td>
      <td>x == y</td>
    </tr>
    <tr>
      <td>!=</td>
      <td>Not equal to</td>
      <td>x != y</td>
    </tr>
    <tr>
      <td>></td>
      <td>Greater than</td>
      <td>x > y</td>
    </tr>
    <tr>
      <td><</td>
      <td>Less than</td>
      <td>x < y</td>
    </tr>
    <tr>
      <td>>=</td>
      <td>Greater than or equal to</td>
      <td>x >= y</td>
    </tr>
    <tr>
      <td><=</td>
      <td>Less than or equal to</td>
      <td>x <= y</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. Equal to (==)
The == operator checks if the values of two operands are equal. If they are, it returns True, otherwise, it returns False.

In [ ]:
password = "1234"
user_input = "1234"
if password == user_input:
    print("True")
else:
    print("False")

True

In [ ]:
# its another method
a=23
b=23
print(a==b)

True

### 2. Not Equal to (!=)
The != operator checks if two operands are not equal. If they are not equal, it returns True, otherwise False.

In [ ]:
password = "1234"
user_input = "1234"
if password != user_input:
    print("True")
else:
    print("False")

False

In [ ]:
# its another method
a=345
b=345
print(a!=b)

False

### 3. Greater than (>)
The > operator checks if the value on the left is greater than the value on the right. If so, it returns True, otherwise False.

In [ ]:
score = 85
if score > 60:
    print("Pass")
else:
    print("Fail")

Pass

### 4. Less than (<)
The < operator checks if the value on the left is less than the value on the right. If true, it returns True, otherwise False.

In [ ]:
score = 85
if score < 60:
    print("Pass")
else:
    print("Fail")

Fail

### 5. Greater than or equal to (>=)
 The >= operator checks if the value on the left is greater than or equal to the value on the right. It returns True if either condition is true, otherwise False.

In [ ]:
temperature = 32
if temperature >= 30:
    print("It's hot outside!")
else:
    print("It's cool outside.")

It's hot outside!

### 6. Less than or equal to (<=)
 The <= operator checks if the value on the left is less than or equal to the value on the right. It returns True if the condition is met, otherwise False.

In [ ]:
stock_quantity = 15
if stock_quantity <= 20:
    print("Order more stock")
else:
    print("Stock level is sufficient")

Order more stock

# 3. Assignment Operators:
These are used to assign values to variables.

In [ ]:
# prompt: give m a table with border line which has  3 columns and has 8 rows first columns name is Operators  and second is Description and third is  Example.

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>=</td>
      <td>Assign value</td>
      <td>x = 5</td>
    </tr>
    <tr>
      <td>+=</td>
      <td>Add and assign</td>
      <td>x += 5  (x = x + 5)</td>
    </tr>
    <tr>
      <td>-=</td>
      <td>Subtract and assign</td>
      <td>x -= 5  (x = x - 5)</td>
    </tr>
    <tr>
      <td>*=</td>
      <td>Multiply and assign</td>
      <td>x *= 5  (x = x * 5)</td>
    </tr>
    <tr>
      <td>/=</td>
      <td>Divide and assign</td>
      <td>x /= 5  (x = x / 5)</td>
    </tr>
    <tr>
      <td>%=</td>
      <td>Modulus and assign</td>
      <td>x %= 5  (x = x % 5)</td>
    </tr>
    <tr>
      <td>**=</td>
      <td>Exponent and assign</td>
      <td>x **= 5  (x = x ** 5)</td>
    </tr>
    <tr>
      <td>//=</td>
      <td>Floor divide and assign</td>
      <td>x //= 5  (x = x // 5)</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. Assigns the value (=)
The = operator assigns a value to a variable. It simply takes the value on the right side and stores it in the variable on the left side.

In [ ]:
x = 5
print(x)

5

### 2. Add and assign (+=)
The += operator adds the right operand to the left operand and assigns the result back to the left operand.

In [ ]:
score = 20
score += 10
print("Score:", score)

Score: 30

### 3. Subtract and assign (-=)
 The += operator adds the right operand to the left operand and assigns the result back to the left operand.

In [ ]:
balance = 100
balance -= 20
print("Remaining Balance:", balance)

Remaining Balance: 80

### 4. Multiply and Assign (*=)
The *= operator multiplies the left operand by the right operand and assigns the result back to the left operand.

In [ ]:
price = 50
discount_multiplier = 5
price *= discount_multiplier
print("Discounted Price:", price)

Discounted Price: 250

### 5. Divide and Assign (/=)
The /= operator divides the left operand by the right operand and assigns the result back to the left operand.

In [ ]:
total_marks = 450
subjects = 5
total_marks /= subjects
print("Average Marks:", total_marks)

Average Marks: 90.0

### 6. Modulus and Assign (%=)
The %= operator calculates the modulus of the left operand by the right operand (i.e., the remainder when dividing) and assigns the result back to the left operand.

In [ ]:
seconds = 125
seconds %= 120
print("Remaining seconds:", seconds)

Remaining seconds: 5

### 7. Exponent and Assign (**=)
 The **= operator raises the left operand to the power of the right operand and assigns the result back to the left operand.

In [ ]:
base = 5
exponent = 2
base **= exponent
print("Result:", base)

Result: 25

### 8. Floor Division and Assign (//=)
 The //= operator performs floor division on the left operand by the right operand (i.e., it divides and rounds down to the nearest whole number) and assigns the result back to the left operand.

In [ ]:
total_pages = 103
pages_per_day = 20
days_needed = total_pages // pages_per_day
print("Days needed:", days_needed)

Days needed: 5

# 4. Logical Operators:
 These are used to perform logical operations like AND, OR, and NOT.

In [ ]:
# prompt: give m a table with border line which has  3 columns and has 3 rows first columns name is Operators  and second is Description and third is  Example.

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>and</td>
      <td>Returns True if both operands are True</td>
      <td>x and y</td>
    </tr>
    <tr>
      <td>or</td>
      <td>Returns True if at least one operand is True</td>
      <td>x or y</td>
    </tr>
    <tr>
      <td>not</td>
      <td>Returns the opposite of the operand's Boolean value</td>
      <td>not x</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. and Operator
The and operator returns True if both operands (conditions) are True. If either of the operands is False, the result is False.

In [ ]:
x = 5
result = x > 1 and x < 6
print(result)

True

In [ ]:
x = 7
if x > 5 and x < 10:
    print("x is between 5 and 10")
else:
    print("x is outside the range")

x is between 5 and 10

### 2. or Operator
The or operator returns True if either of the operands is True. If both operands are False, the result is False.

In [ ]:
x = 5
result = x > 10 or x < 3
print(result)

False

In [ ]:
x = 3
if x < 5 or x > 10:
    print("x is outside the range of 5 to 10")
else:
    print("x is inside the range")

x is outside the range of 5 to 10

### 3. not Operator
The not operator reverses the result of a condition. If the condition is True, it becomes False, and if the condition is False, it becomes True.

In [ ]:
x = 5
result = not(x > 2)
print(result)

False

In [ ]:
is_raining = False
if not is_raining:
    print("It's not raining")
else:
    print("It's raining")

It's not raining

# 5. Identity Operators:
The identity operators in Python, is and is not, are used to compare the identity of two objects, rather than their values. They help determine whether two variables refer to the same object in memory.

In [ ]:
# prompt: give m a table with border line which has  3 columns and has 2 rows first columns name is Operators  and second is Description and third is  Example.

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>is</td>
      <td>True if both variables are the same object</td>
      <td>x is y</td>
    </tr>
    <tr>
      <td>is not</td>
      <td>True if both variables are not the same object</td>
      <td>x is not y</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. is Operator
The is operator checks whether two variables refer to the same object in memory. It returns True if the two variables point to the same object, and False if they point to different objects.

In [ ]:
x = [1, 2, 3]
x = [1, 2, 3]
print(x is x)

True

### 2. is not Operator
The is not operator is the opposite of is. It checks whether two variables refer to different objects in memory. It returns True if they do not point to the same object and False if they refer to the same object.

In [ ]:
a = [1, 2]
b = [1, 2]
print(a is not b)

True

# 6. Membership Operators:
The membership operators in Python, in and not in, are used to check if a particular value exists within a sequence such as a list, tuple, string, set, or dictionary. These operators are essential for efficiently determining the presence or absence of an item in a sequence.

In [ ]:
# prompt: give me a table which has 3 columns and  2 rows first coloumns name is Operators second columns name is Description and third columns name is Example

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>in</td>
      <td>Returns True if a value exists in a sequence</td>
      <td>x in y</td>
    </tr>
    <tr>
      <td>not in</td>
      <td>Returns True if a value does not exist in a sequence</td>
      <td>x not in y</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1.  in Operator
The in operator checks if a value exists within a sequence. It returns True if the value is found, and False if it is not.

In [ ]:
# Checking for a character in a string
print('a' in 'apple')

# Checking for an item in a list
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)

# Checking for a key in a dictionary
info = {'name': 'Alishba', 'age': 19}
print('name' in info)

True
True
True

### 2. not in Operator
The not in operator is the opposite of in. It checks if a value is not present in a sequence. It returns True if the value is not found, and False if the value is present.

In [ ]:
# Checking for a character in a string
print('z'  not in 'apple')

# Checking for an item in a list
fruits = ['apple', 'banana', 'cherry']
print('banana' not in fruits)

# Checking for a key in a dictionary
info = {'name': 'Alishba', 'age': 19}
print('name' not in info)

True
False
False

# 7. Bitwise Operators:
 Bitwise operators are used to perform operations on binary representations of numbers. These operations work directly on the bits of the numbers, treating them as sequences of 0s and 1s. The common bitwise operators include AND, OR, XOR, NOT, and bit shifts (left and right).

In [ ]:
# prompt: give me a table which has 3 columns and  6 rows first coloumns name is Operators second columns name is Description and third columns name is Example

from IPython.display import HTML, display

data = """
<table border>
  <thead>
    <tr>
      <th>Operators</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&</td>
      <td>Bitwise AND</td>
      <td>x & y</td>
    </tr>
    <tr>
      <td>|</td>
      <td>Bitwise OR</td>
      <td>x | y</td>
    </tr>
    <tr>
      <td>^</td>
      <td>Bitwise XOR</td>
      <td>x ^ y</td>
    </tr>
    <tr>
      <td>~</td>
      <td>Bitwise NOT</td>
      <td>~x</td>
    </tr>
    <tr>
      <td><<</td>
      <td>Left shift</td>
      <td>x << y</td>
    </tr>
    <tr>
      <td>>></td>
      <td>Right shift</td>
      <td>x >> y</td>
    </tr>
  </tbody>
</table>
"""

display(HTML(data))

### 1. Bitwise AND (&)
The bitwise AND operator compares each bit of two numbers. It sets each bit to 1 if both bits at the same position are 1, otherwise sets it to 0.

In [4]:
x = 5
y = 3
print(bin(x))
print(bin(y))
print("result:",bin(x & y))

0b101
0b11
result: 0b1

### 2. Bitwise OR (|)
The bitwise OR operator compares each bit of two numbers. It sets each bit to 1 if either of the bits is 1, otherwise sets it to 0.

In [10]:
x = 5
y = 3
print(bin(x))
print(bin(y))
print("result:",bin(x | y),(x & y))

0b101
0b11
result: 0b111 1

### 3. Bitwise XOR (^)
The bitwise XOR operator compares each bit of two numbers. It sets the bit to 1 if the corresponding bits of the two numbers are different, and 0 if they are the same.

In [11]:
x = 5
y = 3
print(bin(x))
print(bin(y))
print("result:",bin(x ^ y),(x ^ y))

0b101
0b11
result: 0b110 6

### 4. Bitwise NOT (~)
The bitwise NOT operator inverts all the bits of a number, i.e., it changes 0s to 1s and 1s to 0s. In Python, this also involves flipping the sign of the number.

In [13]:
x = 5
print(bin(x))
print("result:",bin(~x),(~x))

0b101
result: -0b110 -6

### 5. Bitwise Left Shift (<<)
The bitwise left shift operator shifts the bits of the number to the left by a specified number of positions. Zeros are filled in from the right.

In [12]:
x = 5
print(bin(x))
print("result:",bin(x << 2),(x << 2))

0b101
result: 0b10100 20

### 6. Bitwise Right Shift (>>)
The bitwise right shift operator shifts the bits of the number to the right by a specified number of positions. Zeros are filled in from the left (for positive numbers).

In [14]:
x = 5
print(bin(x))
print("result:",bin(x >> 2),(x >> 2))

0b101
result: 0b1 1